body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section,
footer {
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 60px;
  background-color: #000;
  color: #fff;
}

.header-content {
  text-align: center;
  margin-right: 20px;
}

.image-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(130%);
  text-align: center;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0px 3px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 0px 0px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 500;
}

.button i {
  margin-left: 5px;
}

.black-button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.white-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.button:hover {
  opacity: 0.8;
}

#about {
  background-color: #1c1c22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#about h2 {
  color: #ffffff;
}

#about p {
  color: #ffffff;
}

.about-content {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  text-align: center;
  margin: 20px;
}

#contact {
  background-color: #1c1c22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#contact h2 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 8px;
}

#contact span {
  color: #ffffff;
  font-size: 8px;
  margin-bottom: 0px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-item {
  text-align: center;
}

.contact-item i {
  font-size: 24px;
  margin-bottom: 8px;
}

.button.black-button i.fa-arrow-right {
  font-size: 1.25em;
  margin-right: 0.5em;
}

h1 {
  background: linear-gradient(to right, blue, purple, orange, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Krona One", sans-serif;
  font-size: 36px;
  margin: 0;
  font-weight: 200;
}

h2 {
  font-family: "Krona One", sans-serif;
  font-size: 24px;
  margin: 0;
  font-weight: 100;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
